/*John McCutchan ============================================*/
/*Structure =================================================*/
footer{
  height:150px;
}
/*Skins =====================================================*/
.width{
  width:100%;
  height:auto;
}
footer h4{
  line-height:150px;
}
li{
  list-style:none;
}
/*Breakpoint ================================================*/
