<div>
  <h2>Chat</h2>
  <p>Current chat:</p><br>
  <ul>
    <!-- <li ng-repeat="(key, value) in list">{{value.name}}: {{value.conversation}}</li> -->
    <li>{{data.text}}</li>
  </ul>
  <p>{{chat.name}}: {{data.text}}</p>
  <br>
  <p>Please type here to send a message to sales:</p>
  <textarea rows="10" cols="80" ng-model="data.text"></textarea><br><br>
  <button class="btn btn-success" ng-click="chatSend()">Submit</button>
  <button class="btn btn-danger" ng-click="logout()">Close Chat</button>
</div>


<!--
| filterBy: ['list.data'] : $rootScope.uid"
ng-repeat="item in list | toArray | filterBy: ['$rootScope.uid'] : $rootScope.uid"
chat.conversation
-->
