<div class="main"><!-- <div class="main"> -->
  <div class="sidebar"><!-- <div class="sidebar"> -->

    <div class="nutalk">
      <h2>nuTalk</h2>
      <p><em>The language of business.</em></p>
    </div>

    <div class="channel-list">
      <div class="list-head">Topics</div>
      <hr>
      <div class="channel" ng-repeat="channel in channelsCtrl.channels">
        <a ui-sref="channels.messages({channelId: channel.$id})" ui-sref-active="selected"> {{ channel.name }}</a>
        <hr>
      </div>

      <!-- <div class="channel create">
        <a ui-sref="channels.create">+ create channel</a>
      </div> -->

      <div class="list-head">Sales Team</div>
      <div class="channel" ng-repeat="user in channelsCtrl.users">
        <a ng-if="user.$id !== channelsCtrl.profile.$id && user.sales == true">
          <span class="presence" ng-class="{online: user.online}"></span>
          {{ user.displayName }} | {{ user.businessName }}
        </a>
        <!-- ui-sref-active="selected" -->
        <!-- ui-sref="channels.direct({uid: user.$id}) -->
      </div>
       <hr>
    </div>

    <div class="my-info">
      <!-- <img class="user-pic" ng-src="{{ channelsCtrl.getGravatar(channelsCtrl.profile.$id) }}" /> -->
      <div class="user-info">
        <div class="list-head">Profile</div>
        <div class="user-name">
          <!-- <span class="presence" ng-class="{online: channelsCtrl.profile.online}"></span> -->
          {{ channelsCtrl.profile.displayName }} | {{ channelsCtrl.profile.businessName }}

        </div>
        <div class="options">
          <a ui-sref="profile">edit profile</a>
          /
          <a href="#" ng-click="channelsCtrl.logout()">logout</a>
        </div>
      </div>
    </div>
  </div><!-- /.sidebar -->
  <div class="message-pane main" scroll-glue>
    <ui-view></ui-view>
  </div>
</div><!-- /.row -->
