<div class="page-wrapper bgColor">

  <div class="page-header">
    <h1>Log In</h1>
  </div>

  <div ng-show="authCtrl.error">
    <span>{{ authCtrl.error.message }}</span>
  </div>

  <form ng-submit="authCtrl.login()">
    <div class="input-group">
      <input type="email" class="form-control" placeholder="Email" ng-model="authCtrl.user.email">
    </div><br>
    <div class="input-group">
      <input type="password" class="form-control" placeholder="Password" ng-model="authCtrl.user.password">
    </div><br>
    <input type="submit" class="btn btn-success" value="Login">
    <a href="#" class="btn btn-primary">Cancel</a>
  </form>

</div>
