<div class="message-wrap" ng-repeat="message in messagesCtrl.messages">
  <div class="message-info">
    <div class="user-name">
      {{ channelsCtrl.getDisplayName(message.uid) }} | {{ channelsCtrl.getBusinessName(message.uid) }}
      <span class="timestamp">@ {{ message.timestamp | date:'short' }}</span>
    </div>
    <div class="message">
     {{ message.body }}
     <hr>
    </div>
  </div>
</div>
<div class="header message-header">
  <h1>Topic: {{ messagesCtrl.channelName }}</h1>
  <hr>
</div>

<form class="message-form" ng-submit="messagesCtrl.sendMessage()">

  <div class="input-group">
    <input type="text" class="form-control" ng-model="messagesCtrl.message" placeholder="Type a message...">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">Send</button>
    </span>
  </div>

</form>
